.godkjentPlanDelKnapper {
    .alertstripe {
        margin: 1.5em 0 0 0;
    }
}

.godkjentPlanDelKnapper__lastNed {
    &::before {
        content: "";
        background: data-uri("./img/svg/last-ned.svg") no-repeat center center;
        padding: 1em;
    }
    a {
        color: @navBla;
        font-weight: 600;
    }
}
